.footer {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  padding: 0 20px;
}
.bgFooter{
  background-color: #0c0c0c;
}
.marginImage {
  padding-inline: 100px;
  padding-top: 10px;
}

.footerImg {
  width: 60px;
  height: 60px;
}

.text {
  font-size: 30px;
  color: #f5f5f5;
  font-family: "Kavoon", cursive;
  margin-top: 10px;

}


@media (max-width: 992px) {
  .marginImage {
    padding-inline: 40px;
  }

  .text {
    font-size: 26px;
  }
}
.footerImg {
    width: 50px;
    height: 50px;
  }

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 20px 0;
  }

  .marginImage {
    padding-inline: 0;
    padding-top: 5px;
  }

  .text {
    font-size: 20px;
    margin-top: 10px;
    
  }

  .footerImg {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 12px;
  }

  .footerImg {
    width: 40px;
    height: 40px;
  }
}
@media(min-width: 1400px){
  .text {
    font-size: 36px;
  }

  .footerImg {
    width: 60px;
    height: 60px;
  }
}