 .my-cluster {
            background-color: rgba(0, 123, 255, 0.7);
            border-radius: 50%;
            color: white;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #fff;
          }
.my-cluster .cluster-icon {
            line-height: 50px;
         }



.map{
    height: 100%;
    width: 100%;
    margin: 20px auto ;
    background-color: rgba(255, 255, 255, 0.219);
    border: 4px solid #333;
    box-shadow: 6px 6px 4px #474747;
    justify-content: center;
    display: flex;
    align-items: center;
    }
 

.containerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
  width: 100%;
 
  box-sizing: border-box;
}
@media (max-width: 723px) {
    .containerFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
       
       
    }
  .map{
    width: 95%;
    height: 50vh;
    border-radius: 20px;
    margin: 20px  auto;
    
    background-color: rgba(255, 255, 255, 0.219);
    border: 4px solid #333;
    box-shadow: 6px 6px 4px #474747;
    justify-content: center;
    display: flex;
    align-items: center;
    }
}

@media (min-width: 724px) {
 
   .map{
     height: 50vh;
          width: 95%;
          margin: 20px auto ;
          border-radius: 16px;
          border: 4px solid #000;
          box-shadow: "0px 8px 24px #000";
          display: flex;
          align-items: center;
          justify-content: center;
    }
}