.titleTopTravelers {
  color: #d3d0d0;
  text-align: center;
}

.imgCardTravelers {
  border: 3px ridge #d9d9d9;
}

/* Contenedor principal */
.TopTravelersDiv {
  background: #0c0c0c;
  border: 4px solid #333;
  width: 300px;
  height: auto;
  border-radius: 12px;
  box-shadow: 6px 6px 4px #474747;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ya no usamos grid */
.containerTravelers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo de la card */
.travelerCard {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #d9d9d9;
  text-shadow: 1px 1px 3px #00000099;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    #8b7500,
    #c9a227,
    #ffdc73,
    #c9a227,
    #8b7500
  );
  font-family: "Poppins";
  box-shadow: 6px 6px 4px #474747;
  width: 90%;            /* 🔹 ocupa máximo el 90% del contenedor */
  max-width: 280px;      /* 🔹 nunca más grande que el carrusel */
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.travelerCard:hover {
  transform: scale(1.03);
}

/* Flechas del carrusel */
.carousel-arrow {
  background-color: rgba(99, 98, 98, 0.6);
  color: #ffffff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.carousel-arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.left-arrow {
  left: 5px;
}

.right-arrow {
  right: 5px;
}


@media (max-width: 768px) {
  .TopTravelersDiv {
    max-width: 100%;
  }

  .travelerCard {
    width: 100%;
    max-width: 220px;
  }
}

@media (max-width: 480px) {
  .travelerCard {
    max-width: 200px;
    padding: 8px;
  }

  .imgCardTravelers {
    width: 50px !important;
    height: 50px !important;
  }
}
@media(min-width: 1000px) and (max-width: 1119px){
   .TopTravelersDiv {
  width: 300px;
  height: 400px;
  padding: 1rem;
 
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
@media(min-width: 1120px){
     .TopTravelersDiv {
  width: 390px;
  height: 400px;
  padding: 1rem;
      margin-inline-end: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
@media(min-width:1340px) and (max-width: 1500px){ 
  .TopTravelersDiv {
  width: 500px;

  height: 340px;
  padding: 1rem;
    margin-inline-end: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

}
@media(min-width: 1501px){
    .TopTravelersDiv {
  width: 540px;
  height: 400px;
  margin-inline-end: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}