.imgUserCard {
  width: 60px;
  height: 60px;
  object-fit: cover;
}


.bgTopPost {
  background: #0c0c0c;
  border: 4px solid #333;
  box-shadow: 6px 6px 4px #474747;
  width: 100%;
  height: 300px;
  max-width: 850px;
  padding: 2rem 1rem;
  margin-bottom: 20px;
 
  
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, opacity 0.3s ease;
  opacity: 0; 
}

.carousel-arrow:hover {
  background: rgba(255, 255, 255, 1);
}

.left-arrow {
  left: 10px;
  
}

.right-arrow {
  right: 10px;
}


.single-card-carousel:hover .carousel-arrow {
  opacity: 1;
}
@media(min-width: 1000px) and (max-width:1270px){
.bgTopPost {
  background: #0c0c0c;
  border: 4px solid #333;
  box-shadow: 6px 6px 4px #474747;
  width: 95%;
  max-width: 850px;
  padding: 2rem 1rem;
  margin-bottom: 20px;
  margin-inline-start: 10PX;
 
  
}}
