
ul{
    list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block; /* Evita espacios debajo de la imagen */
  object-fit: cover; /* Asegura que no se deformen dentro del contenedor */
}

body{
  background: #f5f5f5;
}