.bgHomePage{
   background-color: #f5f5f5;
   width: 100%;
    
}
.bgHome {
  display: grid;
  grid-template-columns: 3fr 1fr; 
  grid-auto-rows: auto;
  gap: 0.4rem;
  
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


@media (max-width: 1000px) {
  .bgHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .bgHome > * {
    width: 95%;
  }
}


.mapGrid {
  grid-column: 1 / 3;
  grid-row: 1;
  
 
}


.listGrid {
  grid-column: 1 / 2;
  grid-row: 3;
  
}


.radialGrid {
  grid-column: 1 / 2;
  grid-row: 2;
}

.travelersGrid{
  grid-column: 2/3;
  grid-row: 2/3;
  
}

.groupGrid{
  grid-column: 2/4;

}



@media(min-width: 1000px) and (max-width: 1060){
  .travelersGrid{
  grid-column: 1/3;
  
}
  .radialGrid {
  grid-column: 3 / 2;
  grid-row: 2;
}
}

@media (max-width: 1000px) {
  .bgHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }

  .mapGrid,
  .listGrid,
  .radialGrid {
    width: 90%;
    max-width: 500px; 
  }
}
