.register-card {
  background-color: #1E3A8A; /* azul profundo igual que login */
  color: #fff;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  min-width: 300px;
  margin: 1rem auto;
  padding: 1.5rem;
  box-sizing: border-box;
  font-family: 'Kavoon', cursive;
}

.register-card h2 {
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: 1.5rem;
}

.register-card .form-control {
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-custom {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  width: 100%;
  transition: transform 0.2s ease;
}

.btn-custom:hover {
  background-color: #222;
  transform: scale(1.05);
}

.btn-custom-outline {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  padding: 0.75rem 1.5rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-custom-outline:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}

/* Tablet y Desktop */
@media(min-width: 768px) {
  .register-card {
    max-width: 550px;
    padding: 2rem;
  }

  .button-container {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .button-container button {
    width: auto;
    flex: 1;
  }
}

/* Pantallas grandes (>1200px) */
@media(min-width: 1200px) {
  .register-card {
    max-width: 700px;
    padding: 2.5rem 3rem;
  }
  .button-container{
  
  }
  .register-card h2 {
    font-size: 3rem;
  }
}
@media(min-width: 1500px) {
  .register-card {
    max-width: 800px;
    padding: 3rem 4rem;
  }
  .button-container{
  
    margin-inline-start: 20px;
  }
  .register-card h2 {
    font-size: 3.5rem;
  }
}
/* Pantallas extra grandes (>1600px) */
@media(min-width: 1600px) {
  .register-card {
    max-width: 800px;
    padding: 3rem 4rem;
  }
  .button-container{
   
    margin-inline-start: 70px;
  }
  .register-card h2 {
    font-size: 3.5rem;
  }
}
